:host {
	font-size: 1.2em;
}

#card {
	overflow-y: auto;
	display: flex;
	flex-direction: column;
}

#card > .thin-padding {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

#date {
	color: var(--color-dark);
}

#big-thumbnail {
	background-color: var(--color-secondary);
	background-image: linear-gradient(transparent, var(--color-primary)), var(--thumbnail);
	width: 100%;
	height: 45vh;
	margin-bottom: -4em;
}

#fun {
	font-size: 1.5em;
}

img.link-icon {
	display: inline-block;
	height: 1em;
	width: 1em;
	translate: 0 0.2em;
	margin-right: 1ch;
}

#see-also {
	display: flex;
	flex-direction: column;
	gap: 1ch;
	align-items: flex-start;
}

#see-also > a {
	color: var(--color-dark);
}
#see-also > a:hover {
	color: var(--color-accent);
}

a[href*="github.com/"] img.link-icon {
	content: url("https://github.githubassets.com/favicons/favicon.svg");
}
a[href*="scratch.mit.edu/"] img.link-icon {
	content: url("https://scratch.mit.edu/favicon.ico");
	margin-right: 0.5ch;
}