:host {
    display: inline-block;
    margin: 0.2em;
}

#background {
    padding: 0.2em;
    border-radius: 99999px; /* Extremly high value cause a capsule shape */
    border: 0.1em solid black;
    /* font-size: 0.5em; */
}

#background[tag="scratch"] {
    color: white;
    background-color: rgb(255, 125, 0);
    border-color: rgb(255, 100, 0);
}
#background[tag="web"] {
    color: white;
    background-color: red;
    border-color: rgb(200, 0, 0);
}
#background[tag="arcade"] {
    background-color: pink;
    border-color: rgb(200, 150, 150);
}