:host {
    display: inline-block;
    margin: 0.2em;
}

#background {
    padding: 0.2em;
    border-radius: 99999px; /* Extremly high value cause a capsule shape */
    border: 0.1em solid black;
    /* font-size: 0.5em; */
}

#background[tag="scratch"] {
    color: white;
    background-color: rgb(245, 115, 0);
    border-color: rgb(245, 70, 0);
}
#background[tag="web"] {
    color: white;
    background-color: red;
    border-color: rgb(80, 0, 0);
}
#background[tag="arcade"] {
    background-color: pink;
    border-color: rgb(200, 150, 150);
}
#background[tag="platformer"] {
    background-color: lightblue;
    border-color: rgb(123, 205, 255);
}
#background[tag="2D"] {
    background-color: greenyellow;
    border-color: rgb(70, 199, 0);
}
#background[tag="1v1"] {
    color: white;
    background-color: orangered;
    border-color: red;
}
#background[tag="coop"] {
    color: white;
    background-color: orangered;
    border-color: red;
}
#background[tag="multiplayer"] {
    color: white;
    background-color: purple;
    border-color: rgb(50, 0, 50);
}
#background[tag="school"] {
    background-color: yellow;
    border-color: rgb(200, 200, 0);
}