:host {
	display: inline-block;
	margin: 0.2em;
}

#background {
	color: black;
	
	padding: 0.2em;
	padding-right: 0.35em;
	border-radius: 99999px; /* Extremly high value cause a capsule shape */
	border: 0.1em solid var(--border-color);
	/* font-size: 0.5em; */
	
	display: flex;
	align-items: center;
	gap: 0.5ch;
}

img {
	height: 1em;
}

/* Platforme */
#background[tag="web"] {
	color: white;
	background-color: red;
	--border-color: rgb(108, 0, 0);
}
#background[tag="web"] img {
	content: url("/projects/assets/images/icons/web.svg");
	scale: 1.3;
}
#background[tag="windows"] {
	background-color: rgb(217, 222, 67);
	--border-color: rgb(165, 170, 35);
}
#background[tag="macOS"] {
	background-color: #FFC67D;
	--border-color: #ce8c36;
}
#background[tag="iOS"] {
	background-color: rgb(192, 192, 192);
	--border-color: rgb(146, 146, 146);
}
#background[tag="xbox"] {
	background-color: #33CC33;
	--border-color: #228822;
}
#background[tag="android"] {
	background-color: #8BC34A;
	--border-color: rgb(79 126 48);
}
#background[tag="numworks"] {
	background-color: white;
	--border-color: #ffb734;
}
#background[tag="numworks"] img {
	content: url("https://cdn.numworks.com/b9601ae8.ico");
}
/* #background[tag="iOS"] {
	background-color: rgb(230, 150, 230);
	--border-color: rgb(180, 100, 180);
} */

/* Genre */
#background[tag="arcade"] {
	background-color: pink;
	--border-color: rgb(200, 150, 150);
}
#background[tag="platformer"] {
	background-color: lightblue;
	--border-color: rgb(105, 140, 255);
}
#background[tag="puzzle"] {
	background-color: rgb(176, 218, 129);
	--border-color: rgb(115, 164, 59);
}
#background[tag="toy"] {
	background-color: rgb(230, 230, 173);
	--border-color: rgb(196, 196, 118);
}
#background[tag="visual"] {
	background-color: rgb(255 188 221);
	--border-color: rgb(255 121 188);
}
#background[tag="mod"] {
	background-color: rgb(136, 203, 196);
	--border-color: rgb(45 138 129);
}
#background[tag="tool"] {
	background-color: rgb(173, 174, 230);
	--border-color: rgb(125, 118, 196);
}
#background[tag="plugin"] {
	background-color: rgb(222, 173, 230);
	--border-color: rgb(173, 118, 196);
}

/* Vue */
#background[tag="2D"] {
	background-color: greenyellow;
	--border-color: rgb(70, 199, 0);
}
#background[tag="3D"] {
	background-color: #56b3fa;
	--border-color: #377eb4;
}

/* Player count */
#background[tag="1v1"] {
	color: white;
	background-color: orangered;
	--border-color: rgb(176, 0, 0);
}
#background[tag="coop"] {
	color: white;
	background-color: rgb(45, 45, 255);
	--border-color: rgb(0, 0, 116);
}
#background[tag="multiplayer"] {
	color: white;
	background-color: rgb(171, 0, 171);
	--border-color: rgb(50, 0, 50);
}

/* Scope */
#background[tag="school"] {
	background-color: yellow;
	--border-color: rgb(200, 200, 0);
}

/* Made with */
#background[tag="scratch"] {
	color: white;
	background-color: rgb(245, 115, 0);
	--border-color: rgb(245, 37, 0);
}
#background[tag="scratch"] img {
	content: url("https://simpleicons.org/icons/scratch.svg");
	filter: invert(1);
	scale: 1.3;
}

#background[tag="godot"] {
	color: white;
	background-color: rgb(62, 142, 204);
	--border-color: rgb(45, 100, 143);
}
#background[tag="godot"] img {
	content: url("https://simpleicons.org/icons/godotengine.svg");
	filter: invert(1);
	scale: 1.4;
}

#background[tag="python"] {
	background-color: #ffdf76;
	--border-color: #b1880a;
}
#background[tag="python"] img {
	content: url("https://simpleicons.org/icons/python.svg");
	scale: 1.3;
}

#background[tag="html5"] {
	color: white;
	background-color: rgb(236 122 19);
	--border-color: #9a4e1c;
}
#background[tag="html5"] img {
	content: url("https://simpleicons.org/icons/html5.svg");
	filter: invert(1);
	scale: 1.3;
}

#background[tag="java"] {
	color: white;
	background-color: #EB2C2E;
	--border-color: #9a0c0f;
}
#background[tag="java"] img {
	content: url("https://www.vectorlogo.zone/logos/java/java-icon.svg");
	filter: brightness(0) invert(1);
	scale: 1.35;
}

#background[tag="roblox"] {
	color: white;
	background-color: rgb(214, 0, 0);
	--border-color: rgb(70, 0, 0);
}
#background[tag="roblox"] img {
	content: url("https://simpleicons.org/icons/roblox.svg");
	filter: invert(1);
	scale: 1.3;
}

/* Development */
#background[tag="LTS"] {
	color: white;
	background-color: rgb(255, 0, 255);
	--border-color: rgb(131, 0, 131);
}
#background[tag="complete"] {
	background-color: rgb(65, 255, 26);
	--border-color: rgb(25, 147, 0);
}
#background[tag="ongoing"] {
	color: white;
	background-color: rgb(0, 150, 236);
	--border-color: rgb(0, 80, 127);
}
#background[tag="paused"] {
	color: white;
	background-color: rgb(127, 127, 127);
	--border-color: rgb(70, 70, 70);
}
#background[tag="abandoned"] {
	color: #ff5757;
	background-color: rgb(0, 0, 0);
	--border-color: rgb(189, 67, 67);
}

/* Time limit */
#background[tag="24h"] {
	background-color: rgb(236, 236, 236);
	--border-color: rgb(0, 0, 0);
}


