:root {
    --thin-width: 0.1rem;
    --default-border: var(--thin-width) solid black;
}

#project-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1ch;
    
    justify-content: center;
    
    margin: 1ch;
}

#all-filters {
	display: flex;
	flex-direction: column;
    gap: 1ch;
    
    padding: 1em;
}

.filters-container {
    display: flex;
    flex-direction: column;
    
    align-items: stretch;
    width: 100%;
    
    border: var(--default-border);
    border-radius: 1em 1em;
    
    overflow: hidden;
}

.filter-header {
    display: flex;
    
    min-height: 2.1em;
    
    padding-left: 1ch;
    
    border-bottom: var(--default-border);
    border-bottom-width: 0px;
    transition: border-bottom-width 0s linear 0.5s;
}
.filters-container.open .filter-header {
    border-bottom: var(--default-border);
    transition: none;
}

.filter-header * {
    margin-top: auto;
    margin-bottom: auto;
}

#search-bar {
    flex-grow: 1;
    height: auto;
    border: none;
    border-left: var(--default-border);
    
    margin: 0px;
    margin-left: 1ch;
    padding: 1ch;
    /* min-width: 30ch; */
    border-radius: 0 2ch 2ch 0;
}
/* #search-bar, label {
    
} */

.filter-header expand-button {
    margin-right: 0.6ch;
}

.filters-sumup {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8ch;
    padding: 0.2em;
}

.filter-title {
    font-size: 1.1em;
}

.filter-categories {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.5s ease-out;
}
.filters-container.open .filter-categories {
    grid-template-rows: 1fr;
}
.filter-categories-wrapper {
    overflow: hidden;
    overflow-x: auto;
    display: flex;
}
.filter-category {
    display: flex;
    flex-direction: column;
    padding: 1ch;
}
.category-title {
    text-align: center;
    text-decoration: underline;
}

body {
    margin: 0;
    min-height: 101vh;
}

.wip {
    color: chocolate;
    background-color: yellow;
    border: 0.1ch solid chocolate;
    
    text-align: center;
    padding: 0.5ch;
}

lang-select {
    position: fixed;
    top: 0.5ch;
    left: 0.5ch;
}